---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$max-width: 1280px;
$sidebar-width: 300px;
$primary: #cb5d00;

@import 'https://fonts.googleapis.com/css?family=Lobster|Ruda';

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Ruda', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-family: 'Lobster', serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.read-more,
a {
  color: $primary;
  text-decoration: underline;
}

.site-header, .page-content, .site-footer, .site-sidebar {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
}

.site-sidebar {
  padding: 20px;
  padding-top: 10px;
  margin-top: 40px;
  border-top: gray dashed 1px;
  float: left;
}

.about-image {
  width: 120px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  @media all and (min-width: 500px) {
    width: 250px;
  }
}

.site-header {
  margin-top: 20px;
  text-align: center;
}

.page-content {
  padding: 20px;
}

.post-image {
  background-size: cover;
  background-position: center center;

  &:after {
    content: '';
    display: block;
    padding-bottom: 60%;
  }
}

.post-link {
  text-decoration: none;
  color: black;
  float: left;
  padding-bottom: 30px;
}

.post-meta {
  padding-bottom: 20px;
  display: block;
}

.tags-wrapper {
  text-align: center;
  padding-top: 20px;
}

.tag {
  padding: 10px;
  font-style: italic;
}

@media all and (min-width: #{$max-width + ($sidebar-width * 2)}) {
  .site-sidebar {
    position: fixed;
    width: $sidebar-width - 50px;
    top: 204px;
    right: 50px;

    padding-top: 0;
    margin-top: 0;
    border-top: none;
  }

  .post-image {
    min-height: 400px;
    
    &:after {
      display: none;
    }
  }
}