<header class="site-header">
    <a class="site-logo" href="{{ site.baseurl }}/">
        {% include svg/logo.svg %}
    </a>

    <ul class="social-links">
        <li class="social-link"><a href="https://instagram.com/avelvetuproar"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="social-link"><a href="https://www.facebook.com/avelvetuproar"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="social-link"><a href="https://vimeo.com/avelvetuproar"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
        <li class="social-link"><a href="mailto:info@avelvetuproar.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>

    </ul>
</header>
