.site-header {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 70px;
}

.site-logo {
  padding: 30px 20px;
  display: block;
  width: 100%;

  svg {
    width: 100%;
    max-height: 150px;
    height: 100%;
    max-width: calc(100% - 20px);
  }
}

